2023/Link node.txt
[
    {
        "id": "bec72561.cf42c8",
        "type": "group",
        "z": "e9c73444213c5a3b",
        "name": "Link",
        "style": {
            "label": true
        },
        "nodes": [
            "9d7c52e.fae20b",
            "2b9a3f1c.55a4a",
            "5ab25b00.10dd24",
            "db66138f.898db"
        ],
        "x": 114,
        "y": 179,
        "w": 632,
        "h": 82
    },
    {
        "id": "9d7c52e.fae20b",
        "type": "inject",
        "z": "e9c73444213c5a3b",
        "g": "bec72561.cf42c8",
        "name": "Inject Integer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Integer",
        "payload": "5",
        "payloadType": "num",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "2b9a3f1c.55a4a"
            ]
        ]
    },
    {
        "id": "2b9a3f1c.55a4a",
        "type": "link out",
        "z": "e9c73444213c5a3b",
        "g": "bec72561.cf42c8",
        "name": "INTEGER_OUT",
        "links": [
            "5ab25b00.10dd24"
        ],
        "x": 395,
        "y": 220,
        "wires": []
    },
    {
        "id": "5ab25b00.10dd24",
        "type": "link in",
        "z": "e9c73444213c5a3b",
        "g": "bec72561.cf42c8",
        "name": "INTEGER_IN",
        "links": [
            "2b9a3f1c.55a4a"
        ],
        "x": 515,
        "y": 220,
        "wires": [
            [
                "db66138f.898db"
            ]
        ]
    },
    {
        "id": "db66138f.898db",
        "type": "debug",
        "z": "e9c73444213c5a3b",
        "g": "bec72561.cf42c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 220,
        "wires": []
    }
]