Build a Node RED COVID 19 dashboard Demo-2.json
[{"id":"a9aef11f.7c3ee","type":"tab","label":"COVID Dashboard","disabled":false,"info":""},{"id":"3871e215.0d945e","type":"debug","z":"a9aef11f.7c3ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":400,"wires":[]},{"id":"db359fcc.5e9e4","type":"function","z":"a9aef11f.7c3ee","name":" Plot 60 days of COVID infections","func":"// This function plots a line chart of 60 days of COVID infections\n// msg.payload.covid19.dateReport[0]  // most recent date, counting backwards in time\n// msg.payload.covid19.confirmed[0]\n\nif( typeof(msg.payload.covid19) == 'undefined' ) {\n  return null;    \n}\n\nvar dateReport = new Date( msg.payload.covid19.dateReport[0] ).getTime() ;\n// The Array has this structure, inserting the first element as a template.\nvar ChartData = [ {\"series\":[\"Confirmed\",\"Deaths\"],\n                   \"data\":[ [{\"x\":dateReport,\"y\":msg.payload.covid19.confirmed[0]}],\n                            [{\"x\":dateReport,\"y\":msg.payload.covid19.deaths[0]}],\n                          ],\n                   \"labels\":[\"\",\"\"]}];\n\n// Start at 1 because we've already added element 0 in the initial array definition\nfor( var i=1; i < msg.payload.covid19.dateReport.length; i++ ) {\n    dateReport = new Date( msg.payload.covid19.dateReport[i] ).getTime() ;\n    ChartData[0].data[0].push( { \"x\":dateReport,\"y\":msg.payload.covid19.confirmed[i] } )\n    ChartData[0].data[1].push( { \"x\":dateReport,\"y\":msg.payload.covid19.deaths[i] } )\n}\n\n// Sort on the time so that we give the Chart node an array in time order\nChartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\n\nmsg.payload = ChartData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":280,"wires":[["c4d0c64f.64c338"]]},{"id":"c4d0c64f.64c338","type":"ui_chart","z":"a9aef11f.7c3ee","name":"COVID Chart","group":"90bcbf5.59fcd4","order":0,"width":"12","height":"10","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":280,"wires":[[]]},{"id":"b288bd5b.294d7","type":"ui_button","z":"a9aef11f.7c3ee","name":"","group":"6ac20f95.64084","order":1,"width":0,"height":0,"passthru":false,"label":"All USA COVID Stats","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":160,"wires":[["2e3edece.7c36b2"]]},{"id":"8ba5f3fc.6fc1e","type":"change","z":"a9aef11f.7c3ee","name":"USA API Parameters","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.location","pt":"msg","to":"10001:US","tot":"str"},{"t":"set","p":"twcparams.locationtype","pt":"msg","to":"postalKey","tot":"str"},{"t":"set","p":"twcparams.territory","pt":"msg","to":"country","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[["b02c4a16.2ae278"]]},{"id":"da55b1c7.1771f","type":"ui_dropdown","z":"a9aef11f.7c3ee","name":"","label":"Select State:","tooltip":"","place":"State","group":"6ac20f95.64084","order":2,"width":0,"height":0,"passthru":true,"multiple":true,"options":[],"payload":"","topic":"","x":550,"y":120,"wires":[["dd24aef1.a53fa","b2638d8d.c8e47"]]},{"id":"5f91b01d.64242","type":"change","z":"a9aef11f.7c3ee","name":"Load States","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":80,"wires":[["737e87ee.020af8","da55b1c7.1771f"]]},{"id":"737e87ee.020af8","type":"debug","z":"a9aef11f.7c3ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","targetType":"msg","x":550,"y":80,"wires":[]},{"id":"d69b49f5.123588","type":"inject","z":"a9aef11f.7c3ee","name":"Load Table of States","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[{\"Alaska\":\"99501:US\"},{\"Alabama\":\"35801:US\"},{\"Arkansas\":\"72201:US\"},{\"American Samoa\":\"96799:US\"},{\"Arizona\":\"85001:US\"},{\"California\":\"90001:US\"},{\"Colorado\":\"80201:US\"},{\"Connecticut\":\"06101:US\"},{\"District of Columbia\":\"20001:US\"},{\"Delaware\":\"19901:US\"},{\"Florida\":\"33124:US\"},{\"Georgia\":\"30301:US\"},{\"Guam\":\"GU:US\"},{\"Hawaii\":\"96801:US\"},{\"Iowa\":\"50301:US\"},{\"Idaho\":\"83254:US\"},{\"Illinois\":\"60601:US\"},{\"Indiana\":\"46201:US\"},{\"Kansas\":\"67201:US\"},{\"Kentucky\":\"41701:US\"},{\"Louisiana\":\"70112:US\"},{\"Massachusetts\":\"02111:US\"},{\"Maryland\":\"21201:US\"},{\"Maine\":\"04032:US\"},{\"Michigan\":\"49036:US\"},{\"Minnesota\":\"55801:US\"},{\"Missouri\":\"63101:US\"},{\"Mississippi\":\"39530:US\"},{\"Montana\":\"59044:US\"},{\"North Carolina\":\"27565:US\"},{\"North Dakota\":\"58282:US\"},{\"Nebraska\":\"68901:US\"},{\"New Hampshire\":\"03217:US\"},{\"New Jersey\":\"07450:US\"},{\"New Mexico\":\"87501:US\"},{\"Nevada\":\"89501:US\"},{\"New York\":\"10001:US\"},{\"Ohio\":\"44101:US\"},{\"Oklahoma\":\"74101:US\"},{\"Oregon\":\"97201:US\"},{\"Pennsylvania\":\"15201:US\"},{\"Puerto Rico\":\"00600:US\"},{\"Rhode Island\":\"02840:US\"},{\"South Carolina\":\"29020:US\"},{\"South Dakota\":\"57401:US\"},{\"Tennessee\":\"37201:US\"},{\"Texas\":\"78701:US\"},{\"Utah\":\"84321:US\"},{\"Virginia\":\"24517:US\"},{\"Virgin Islands\":\"00801:US\"},{\"Vermont\":\"05751:US\"},{\"Washington\":\"98004:US\"},{\"Wisconsin\":\"53201:US\"},{\"West Virginia\":\"25813:US\"},{\"Wyoming\":\"82941:US\"},{\"USA\":\"USA\"}]","payloadType":"json","x":140,"y":80,"wires":[["5f91b01d.64242"]]},{"id":"dd24aef1.a53fa","type":"debug","z":"a9aef11f.7c3ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":80,"wires":[]},{"id":"8a09607.36493a","type":"comment","z":"a9aef11f.7c3ee","name":"Select States - COVID Data","info":"","x":240,"y":40,"wires":[]},{"id":"3bc2cbdd.517104","type":"change","z":"a9aef11f.7c3ee","name":"State API Parameters","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.location","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"twcparams.locationtype","pt":"msg","to":"postalKey","tot":"str"},{"t":"set","p":"twcparams.territory","pt":"msg","to":"state","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":280,"wires":[["b02c4a16.2ae278"]]},{"id":"e4813a9e.549a98","type":"function","z":"a9aef11f.7c3ee","name":"Build Table","func":"var TableArray = [];\nfor( i=0; i < msg.payload.covid19.dateReport.length; i++ ) {\n      var TableEntry = {};\n      TableEntry.dateReport = msg.payload.covid19.dateReport[i] ;\n      TableEntry.confirmed = msg.payload.covid19.confirmed[i] ;\n      TableEntry.deaths = msg.payload.covid19.deaths[i] ;\n      TableArray.push( TableEntry );\n}\n\nmsg.payload = TableArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":320,"wires":[["905f2946.ea7b18"]]},{"id":"b2638d8d.c8e47","type":"switch","z":"a9aef11f.7c3ee","name":"Selection","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":120,"wires":[["bdaf34ac.636148"]]},{"id":"8d6ad7b7.832d18","type":"ui_text","z":"a9aef11f.7c3ee","group":"6ac20f95.64084","order":3,"width":0,"height":0,"name":"","label":"Source:","format":"{{msg.payload.covid19.source[0]}}","layout":"row-spread","x":1180,"y":360,"wires":[]},{"id":"c58117f5.4b23b8","type":"ui_text","z":"a9aef11f.7c3ee","group":"90bcbf5.59fcd4","order":1,"width":0,"height":0,"name":"Location","label":"","format":"{{msg.payload.covid19.recordLocation}}","layout":"row-center","x":820,"y":240,"wires":[]},{"id":"2e3edece.7c36b2","type":"change","z":"a9aef11f.7c3ee","name":"USA","rules":[{"t":"set","p":"payload","pt":"msg","to":"USA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[["da55b1c7.1771f"]]},{"id":"bdaf34ac.636148","type":"switch","z":"a9aef11f.7c3ee","name":"USA Selected","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"USA","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":320,"wires":[["3bc2cbdd.517104"],["8ba5f3fc.6fc1e"]]},{"id":"999f5614.844bc8","type":"switch","z":"a9aef11f.7c3ee","name":"Set Sources","property":"twcparams.territory","propertyType":"msg","rules":[{"t":"eq","v":"state","vt":"str"},{"t":"eq","v":"country","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":360,"wires":[["8d6ad7b7.832d18"],["235ec60f.ba0e4a"]]},{"id":"235ec60f.ba0e4a","type":"change","z":"a9aef11f.7c3ee","name":"Numerous","rules":[{"t":"set","p":"payload.covid19.source[0]","pt":"msg","to":"Numerous","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":400,"wires":[["8d6ad7b7.832d18"]]},{"id":"6075b23f.9b3c8c","type":"debug","z":"a9aef11f.7c3ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":560,"wires":[]},{"id":"c86282ce.9e917","type":"function","z":"a9aef11f.7c3ee","name":"Build Table","func":"var TableArray = [];\nfor( i=0; i < msg.payload.covid19.recordLocation.length; i++ ) {\n      var TableEntry = {};\n      TableEntry.recordLocation = msg.payload.covid19.recordLocation[i] ;\n      TableEntry.confirmed = msg.payload.covid19.confirmed[i] ;\n      TableEntry.deaths = msg.payload.covid19.deaths[i] ;\n      TableArray.push( TableEntry );\n}\n\nmsg.payload = TableArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":520,"wires":[["a8caa602.12bae8"]]},{"id":"fcdf9738.f22778","type":"ui_button","z":"a9aef11f.7c3ee","name":"","group":"370a72aa.5003ee","order":1,"width":0,"height":0,"passthru":false,"label":"Get Country Reports","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":520,"wires":[["cf241eb8.de924"]]},{"id":"9cf3eb92.30ed48","type":"comment","z":"a9aef11f.7c3ee","name":"Query Country Reports","info":"","x":220,"y":480,"wires":[]},{"id":"b02c4a16.2ae278","type":"twc-covid19-tracker","z":"a9aef11f.7c3ee","name":"","locationtype":"geocode","location":"40,73","territory":"country","apikey":"","x":590,"y":320,"wires":[["c58117f5.4b23b8","db359fcc.5e9e4","e4813a9e.549a98","999f5614.844bc8","3871e215.0d945e"]]},{"id":"cf241eb8.de924","type":"twc-covid19-country-report","z":"a9aef11f.7c3ee","name":"","apikey":"","x":410,"y":520,"wires":[["6075b23f.9b3c8c","c86282ce.9e917"]]},{"id":"905f2946.ea7b18","type":"ui_table","z":"a9aef11f.7c3ee","group":"34d58f90.7fb1e","name":"COVID Data","order":2,"width":"8","height":"8","columns":[{"field":"dateReport","title":"Date","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"confirmed","title":"Confirmed","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"deaths","title":"Deaths","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1190,"y":320,"wires":[]},{"id":"a8caa602.12bae8","type":"ui_table","z":"a9aef11f.7c3ee","group":"34d58f90.7fb1e","name":"COVID Country Reports","order":2,"width":"0","height":"0","columns":[{"field":"recordLocation","title":"Country","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"confirmed","title":"Confirmed","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"deaths","title":"Deaths","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":910,"y":520,"wires":[]},{"id":"90bcbf5.59fcd4","type":"ui_group","z":"","name":"COVID Stats","tab":"5588ab2.1c5a354","order":2,"disp":true,"width":"12","collapse":false},{"id":"6ac20f95.64084","type":"ui_group","z":"","name":"Search","tab":"5588ab2.1c5a354","order":1,"disp":true,"width":"8","collapse":false},{"id":"370a72aa.5003ee","type":"ui_group","z":"","name":"Country Reports","tab":"5588ab2.1c5a354","order":3,"disp":true,"width":"8","collapse":false},{"id":"34d58f90.7fb1e","type":"ui_group","z":"","name":"World Covid Result","tab":"f2929d3.9d5626","order":1,"disp":true,"width":"6","collapse":false},{"id":"5588ab2.1c5a354","type":"ui_tab","z":"","name":"COVID Tracker","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"f2929d3.9d5626","type":"ui_tab","z":"","name":"Tab 3","icon":"dashboard","order":2,"disabled":true,"hidden":false}]