Calculater.json
[{"id":"6a7c13f.1156aec","type":"tab","label":"CALCULATER","disabled":false,"info":""},{"id":"e816708f.80667","type":"function","z":"6a7c13f.1156aec","name":"","func":"var a =70 , b = 16;\nvar sum,sub,mul,div = 0;\nvar responedata = \"\"; \n\nsum = a+b;\nsub = a-b;\nmul = a*b;\ndiv = a/b;\n\nresponedata = {\"sum\" :  sum,\"sub\" : sub,\"mul\" : mul,\"div\" : div} \nmsg.payload = responedata;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["26c4dc68.bc0104"]]},{"id":"26c4dc68.bc0104","type":"ui_template","z":"6a7c13f.1156aec","group":"c7965863.4cc468","name":"","order":1,"width":0,"height":0,"format":"<div id=\"textbox\"> \nSUM :<div ng-bind-html=\"msg.payload.sum\"></div>\nSUB :<div ng-bind-html=\"msg.payload.sub\"></div>\nMUL :<div ng-bind-html=\"msg.payload.mul\"></div>\nDIV :<div ng-bind-html=\"msg.payload.div\"></div>\n</div>\n<style>\n    #textbox {\n    display: flex;\n    justify-content: space-between;\n}\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":420,"y":280,"wires":[["637a768c.812328"]]},{"id":"637a768c.812328","type":"debug","z":"6a7c13f.1156aec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":380,"wires":[]},{"id":"243df03e.4511b","type":"inject","z":"6a7c13f.1156aec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["e816708f.80667"]]},{"id":"8e81cef8.46dad","type":"comment","z":"6a7c13f.1156aec","name":"Simple Calculater Project Part 1","info":"","x":530,"y":180,"wires":[]},{"id":"c7965863.4cc468","type":"ui_group","z":"","name":"Calculater","tab":"e1e322bc.837eb","order":1,"disp":true,"width":"6","collapse":false},{"id":"e1e322bc.837eb","type":"ui_tab","z":"","name":"UI","icon":"dashboard","order":6,"disabled":false,"hidden":false}]