Chart Covide Cases in Karnatak Disctrict.json
[{"id":"59da5913.5aba38","type":"inject","z":"4aec626c.977ecc","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":220,"wires":[["d280011.8a834"]]},{"id":"d280011.8a834","type":"http request","z":"4aec626c.977ecc","name":"District Wise","method":"GET","ret":"obj","url":"api.covid19india.org/state_district_wise.json","tls":"","x":70,"y":280,"wires":[["e28a489.ec87db8","b056de0c.69d96","28511f8e.507a1","ef7182a3.3cabd","79b59b7d.b115f4","19c8fff.59a23","74b51241.8257cc","592486ff.c015d8","f97d492e.9be068","dfd5418a.54fda","b1e29155.55441","ab2db4e1.de01e8","b04cbb7a.739808","6ba5f591.2256ac"]]},{"id":"e28a489.ec87db8","type":"function","z":"4aec626c.977ecc","name":"Dharwad","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Dharwad.confirmed;\nmsg.topic = \"Dharwad Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Dharwad.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":360,"y":60,"wires":[["a9d3f0af.d983c"]]},{"id":"a9d3f0af.d983c","type":"ui_chart","z":"4aec626c.977ecc","name":"","group":"6ad7a381.40278c","order":0,"width":"6","height":"8","label":"Covide Cases in Karnatak Disctrict","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Covide cases in karnataka","dot":false,"ymin":"10","ymax":"3000","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":280,"wires":[[]]},{"id":"74b51241.8257cc","type":"function","z":"4aec626c.977ecc","name":"Bidar","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Bidar.confirmed;\nmsg.topic = \"Bidar Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Bidar.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":350,"y":20,"wires":[[]]},{"id":"b056de0c.69d96","type":"function","z":"4aec626c.977ecc","name":"Gadag","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Gadag.confirmed;\nmsg.topic = \"Gadag Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Gadag.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["a9d3f0af.d983c"]]},{"id":"19c8fff.59a23","type":"function","z":"4aec626c.977ecc","name":"Davanagere","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Davanagere.confirmed;\nmsg.topic = \"Davanagere Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Davanagere.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["a9d3f0af.d983c"]]},{"id":"ef7182a3.3cabd","type":"function","z":"4aec626c.977ecc","name":"Mysuru","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Mysuru.confirmed;\nmsg.topic = \"Mysuru Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Mysuru.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["a9d3f0af.d983c"]]},{"id":"28511f8e.507a1","type":"function","z":"4aec626c.977ecc","name":"Bagalkote","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Bagalkote.confirmed;\nmsg.topic = \"Bagalkote Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Bagalkote.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["a9d3f0af.d983c"]]},{"id":"79b59b7d.b115f4","type":"function","z":"4aec626c.977ecc","name":"Belagavi","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Belagavi.confirmed;\nmsg.topic = \"Belagavi Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Belagavi.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["a9d3f0af.d983c"]]},{"id":"6ba5f591.2256ac","type":"function","z":"4aec626c.977ecc","name":"Shivamogga","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Shivamogga.confirmed;\nmsg.topic = \"Shivamogga Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Shivamogga.confirmed);\n \nreturn msg","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["a9d3f0af.d983c"]]},{"id":"b04cbb7a.739808","type":"function","z":"4aec626c.977ecc","name":"Ramanagara","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Ramanagara.confirmed;\nmsg.topic = \"Ramanagara Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Ramanagara.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["a9d3f0af.d983c"]]},{"id":"ab2db4e1.de01e8","type":"function","z":"4aec626c.977ecc","name":"Raichur","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Raichur.confirmed;\nmsg.topic = \"Raichur Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Raichur.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":360,"y":460,"wires":[["a9d3f0af.d983c"]]},{"id":"b1e29155.55441","type":"function","z":"4aec626c.977ecc","name":"Koppal","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Koppal.confirmed;\nmsg.topic = \"Koppal Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Bagalkote.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":360,"y":420,"wires":[["a9d3f0af.d983c"]]},{"id":"dfd5418a.54fda","type":"function","z":"4aec626c.977ecc","name":"Kolar","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Kolar.confirmed;\nmsg.topic = \"Kolar Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Kolar.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["a9d3f0af.d983c"]]},{"id":"f97d492e.9be068","type":"function","z":"4aec626c.977ecc","name":"Kodagu","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Kodagu.confirmed;\nmsg.topic = \"Kodagu Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Kodagu.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["a9d3f0af.d983c"]]},{"id":"592486ff.c015d8","type":"function","z":"4aec626c.977ecc","name":"Chamarajanagara","func":"msg = msg.payload;\nran = msg.Karnataka.districtData.Chamarajanagara.confirmed;\nmsg.topic = \"Chamarajanagara Cases\";\nmsg.payload = ran;\nconsole.log(msg.Karnataka.districtData.Chamarajanagara.confirmed);\nreturn msg","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["a9d3f0af.d983c"]]},{"id":"6ad7a381.40278c","type":"ui_group","z":"","name":"covid19world","tab":"26d39f48.2935e","order":1,"disp":true,"width":"6","collapse":true},{"id":"26d39f48.2935e","type":"ui_tab","z":"","name":"WorldCovid","icon":"dashboard","order":5,"disabled":false,"hidden":false}]