Covid dashboard.json
[{"id":"774aab27.b984a4","type":"tab","label":"Covid 19 DashBoard","disabled":false,"info":""},{"id":"6d06055a.68a76c","type":"inject","z":"774aab27.b984a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["aa95a680.826c48"]]},{"id":"aa95a680.826c48","type":"http request","z":"774aab27.b984a4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.covid19api.com/world/total","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":260,"wires":[["c723ac01.99b4c","4de86a0.adc6998","e6b492e0.9407a","45abb052.c704a"]]},{"id":"c723ac01.99b4c","type":"function","z":"774aab27.b984a4","name":"TotalConfirmed","func":"msg = msg.payload; \n\nmsg.topic = 'TotalConfirmed';\nmsg.payload = msg.TotalConfirmed;\n\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["6bbb32f6.a9f3dc"]]},{"id":"79b8603e.ee577","type":"debug","z":"774aab27.b984a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":635,"y":100,"wires":[],"l":false},{"id":"6bbb32f6.a9f3dc","type":"ui_chart","z":"774aab27.b984a4","name":"","group":"ef3f513a.77e67","order":1,"width":0,"height":0,"label":"chart","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":180,"wires":[["79b8603e.ee577"]]},{"id":"4de86a0.adc6998","type":"function","z":"774aab27.b984a4","name":"TotalDeaths","func":"msg = msg.payload; \n\nmsg.topic = \"TotalDeaths\";\nmsg.payload = msg.TotalDeaths;\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":240,"wires":[["6bbb32f6.a9f3dc"]]},{"id":"e6b492e0.9407a","type":"function","z":"774aab27.b984a4","name":"TotalRecovered","func":"msg = msg.payload; \n \nmsg.topic = \"TotalRecovered\";\nmsg.payload = msg.TotalRecovered;\n\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":320,"wires":[["6bbb32f6.a9f3dc"]]},{"id":"66b6fe00.89e694","type":"e-mail","z":"774aab27.b984a4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"sandeep.1rx12mca22@gmail.com","dname":",Mail Trigger","x":650,"y":320,"wires":[]},{"id":"45abb052.c704a","type":"functionx","z":"774aab27.b984a4","name":"Mailing The Covide Results","func":"msg = msg.payload;  \n\nmsg.topic = \"Covid Result World Wide\";\nmsg.payload = \"TotalConfirmed =>\"+msg.TotalConfirmed+\"\\n  TotalDeaths==>\"+msg.TotalDeaths+\"\\n  TotalRecovered==>\"+msg.TotalRecovered;\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":400,"wires":[["66b6fe00.89e694"]]},{"id":"774e091d.36bc18","type":"comment","z":"774aab27.b984a4","name":"Sending Email of Covid 19 Details To The Mail ","info":"Sending Email of Covid 19 Details To The Mail ","x":390,"y":60,"wires":[]},{"id":"ef3f513a.77e67","type":"ui_group","z":"","name":"Default","tab":"b519a816.b87948","order":1,"disp":true,"width":"6","collapse":false},{"id":"b519a816.b87948","type":"ui_tab","z":"","name":"Tab 4","icon":"dashboard","order":4,"disabled":false,"hidden":false}]