Covid state wise.json
[{"id":"d99204fb.64f4c8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"82af1f4d.76dec","type":"inject","z":"d99204fb.64f4c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["114317bb.d1d928","924b81a7.99f4b"]]},{"id":"114317bb.d1d928","type":"http request","z":"d99204fb.64f4c8","name":"Covid19-India","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.covid19india.org/data.json","tls":"","persist":true,"proxy":"","authType":"","x":220,"y":160,"wires":[["49e20019.e99b5"]]},{"id":"a3b7bff2.919a7","type":"debug","z":"d99204fb.64f4c8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":320,"wires":[]},{"id":"49e20019.e99b5","type":"function","z":"d99204fb.64f4c8","name":"","func":"  msg = msg.payload;\nconsole.log(msg.statewise);\nmsg = msg.statewise[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":" ","finalize":"","x":290,"y":260,"wires":[["a3b7bff2.919a7"]]},{"id":"d7cf7947.08b778","type":"chartjs-pie","z":"d99204fb.64f4c8","name":"","path":"charts","charttitle":"covid","xaxis":"Item","yaxis":"Value","x":510,"y":160,"wires":[["4d30b117.fcae3"]]},{"id":"4d30b117.fcae3","type":"debug","z":"d99204fb.64f4c8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":200,"wires":[]},{"id":"924b81a7.99f4b","type":"function","z":"d99204fb.64f4c8","name":"","func":"  msg,payload = { \"channel\": \"POB\", \"color\": [\"Red\", \"Yellow\", \"Blue\"], \"dataset\": [{\"x\": \"A\", \"y\": 50}, {\"x\": \"B\", \"y\": 20}, {\"x\": \"C\", \"y\": 30} ] }\nreturn msg;","outputs":1,"noerr":0,"initialize":" ","finalize":"","x":380,"y":80,"wires":[["d7cf7947.08b778"]]}]