Covid-disctrict-wise.json
[{"id":"304359b5.55c1b6","type":"inject","z":"bca3f5d0.1552c8","name":"","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":80,"wires":[["2e871b63.448a04"]]},{"id":"2e871b63.448a04","type":"http request","z":"bca3f5d0.1552c8","name":"District Wise","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.covid19india.org/state_district_wise.json","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":180,"wires":[["3e932695.212c8a"]]},{"id":"96d48b10.8ab8c8","type":"debug","z":"bca3f5d0.1552c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"3e932695.212c8a","type":"function-npm","z":"bca3f5d0.1552c8","name":"","func":"msg = msg.payload; \nconsole.log(typeof(msg));\n \nconsole.log(msg.Karnataka.districtData.Dharwad.active)\nconsole.log(msg.Karnataka.districtData.Dharwad.confirmed)\n\n \nmsg.payload = {\"active case\" :msg.Karnataka.districtData.Dharwad.active, \n        \"confirmed case\": msg.Karnataka.districtData.Dharwad.confirmed\n}; \n\n \n \nconsole.log(msg);\n \nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["96d48b10.8ab8c8"]]}]