Data Convertion.json
[{"id":"67bb855d.11323c","type":"comment","z":"f02b5598.342e68","name":"Convert to/from JSON","info":"","x":120,"y":140,"wires":[]},{"id":"d2a9601d.590b2","type":"comment","z":"f02b5598.342e68","name":"Split text into one message per line","info":"","x":160,"y":940,"wires":[]},{"id":"caf93d8a.fe397","type":"inject","z":"f02b5598.342e68","name":"JSON String","props":[{"p":"payload","v":"{\"a\":1}","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":1}","payloadType":"str","x":110,"y":180,"wires":[["a80f50b8.d9f36"]]},{"id":"a80f50b8.d9f36","type":"json","z":"f02b5598.342e68","name":"","property":"payload","action":"","pretty":false,"x":270,"y":180,"wires":[["37c4f6ab.2d909a"]]},{"id":"37c4f6ab.2d909a","type":"debug","z":"f02b5598.342e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":180,"wires":[]},{"id":"9c10a208.1a875","type":"inject","z":"f02b5598.342e68","name":"Object","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":1}","payloadType":"json","x":90,"y":220,"wires":[["bb046c21.e5d61"]]},{"id":"bb046c21.e5d61","type":"json","z":"f02b5598.342e68","name":"","property":"payload","action":"","pretty":false,"x":270,"y":220,"wires":[["2d711615.9e260a"]]},{"id":"2d711615.9e260a","type":"debug","z":"f02b5598.342e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":220,"wires":[]},{"id":"8b1df43b.466c78","type":"comment","z":"f02b5598.342e68","name":"Convert to/from YAML","info":"","x":120,"y":460,"wires":[]},{"id":"7c3acfb5.30c24","type":"inject","z":"f02b5598.342e68","name":"YAML String","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":1}","payloadType":"str","x":110,"y":500,"wires":[["ccd4f521.a523e8"]]},{"id":"8f5762f1.50ee8","type":"debug","z":"f02b5598.342e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":500,"wires":[]},{"id":"a4b610b0.12d2e","type":"inject","z":"f02b5598.342e68","name":"Object","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":1, \"b\":[1,2,3]}","payloadType":"json","x":90,"y":540,"wires":[["db9ac64.cccec38"]]},{"id":"f0800363.bbe01","type":"debug","z":"f02b5598.342e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":540,"wires":[]},{"id":"ccd4f521.a523e8","type":"template","z":"f02b5598.342e68","name":"","field":"payload","fieldType":"msg","format":"yaml","syntax":"plain","template":"a: 1\nb:\n  - 1\n  - 2\n  - 3","output":"str","x":280,"y":500,"wires":[["31a789e2.63b896"]]},{"id":"db9ac64.cccec38","type":"yaml","z":"f02b5598.342e68","property":"payload","name":"","x":250,"y":540,"wires":[["f0800363.bbe01"]]},{"id":"31a789e2.63b896","type":"yaml","z":"f02b5598.342e68","property":"payload","name":"","x":430,"y":500,"wires":[["8f5762f1.50ee8"]]},{"id":"52a69ede.1ea41","type":"comment","z":"f02b5598.342e68","name":"Convert to/from XML","info":"","x":120,"y":300,"wires":[]},{"id":"64214a0e.dcb7f4","type":"inject","z":"f02b5598.342e68","name":"XML String","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":1}","payloadType":"str","x":100,"y":340,"wires":[["f3577925.70e058"]]},{"id":"94260d45.af5f8","type":"debug","z":"f02b5598.342e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":340,"wires":[]},{"id":"15354bcb.4fb3f4","type":"inject","z":"f02b5598.342e68","name":"Object","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"note\":{\"$\":{\"priority\":\"high\"},\"to\":[\"Nick\"],\"from\":[\"Dave\"],\"heading\":[\"Reminder\"],\"body\":[\"Update the website\"]}}","payloadType":"json","x":90,"y":380,"wires":[["16c3a4bc.bbb50b"]]},{"id":"74d019ec.116fb8","type":"debug","z":"f02b5598.342e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":380,"wires":[]},{"id":"f3577925.70e058","type":"template","z":"f02b5598.342e68","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<note priority=\"high\">\n  <to>Nick</to>\n  <from>Dave</from>\n  <heading>Reminder</heading>\n  <body>Update the website</body>\n</note>","output":"str","x":280,"y":340,"wires":[["b87dc480.3d50c8"]]},{"id":"b87dc480.3d50c8","type":"xml","z":"f02b5598.342e68","name":"","property":"payload","attr":"","chr":"","x":430,"y":340,"wires":[["94260d45.af5f8"]]},{"id":"16c3a4bc.bbb50b","type":"xml","z":"f02b5598.342e68","name":"","property":"payload","attr":"","chr":"","x":250,"y":380,"wires":[["74d019ec.116fb8"]]},{"id":"71f6ffbf.1f994","type":"comment","z":"f02b5598.342e68","name":"Generate CSV output","info":"","x":120,"y":620,"wires":[]},{"id":"915d63ed.3eb97","type":"inject","z":"f02b5598.342e68","name":"single","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":660,"wires":[["142ccbe9.fa22c4"]]},{"id":"142ccbe9.fa22c4","type":"change","z":"f02b5598.342e68","name":"Generate single payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":660,"wires":[["312db169.8789ee"]]},{"id":"312db169.8789ee","type":"csv","z":"f02b5598.342e68","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"a,b,c","skip":"0","strings":true,"x":450,"y":660,"wires":[["91276168.baeb6"]]},{"id":"91276168.baeb6","type":"debug","z":"f02b5598.342e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":660,"wires":[]},{"id":"c313f6c6.6fd9c8","type":"inject","z":"f02b5598.342e68","name":"array","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":720,"wires":[["21e81ee8.9758a2"]]},{"id":"21e81ee8.9758a2","type":"change","z":"f02b5598.342e68","name":"Generate array payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":720,"wires":[["63775903.b60948"]]},{"id":"63775903.b60948","type":"csv","z":"f02b5598.342e68","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"a,b,c","skip":"0","strings":true,"x":450,"y":720,"wires":[["e8bc4154.5d938"]]},{"id":"e8bc4154.5d938","type":"debug","z":"f02b5598.342e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":720,"wires":[]},{"id":"99751025.e3264","type":"comment","z":"f02b5598.342e68","name":"Generate CSV output","info":"","x":120,"y":800,"wires":[]},{"id":"f50b4d09.8f3e2","type":"inject","z":"f02b5598.342e68","name":"Inject","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":840,"wires":[["3f898c90.585d84"]]},{"id":"71a9e03c.3d6c4","type":"csv","z":"f02b5598.342e68","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"1","strings":true,"x":410,"y":840,"wires":[["9eba31b.88ad1d"]]},{"id":"9eba31b.88ad1d","type":"debug","z":"f02b5598.342e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":840,"wires":[]},{"id":"3f898c90.585d84","type":"template","z":"f02b5598.342e68","name":"CSV data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"# This is some random data\na,b,c\n80,18,2\n52,36,10\n91,18,61\n32,47,65","output":"str","x":260,"y":840,"wires":[["71a9e03c.3d6c4"]]},{"id":"20e9502d.f5dfb","type":"inject","z":"f02b5598.342e68","name":"inject","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":980,"wires":[["4f0468a1.7a7308"]]},{"id":"4f0468a1.7a7308","type":"template","z":"f02b5598.342e68","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"one\ntwo\nthree\nfour\nfive","x":240,"y":980,"wires":[["dcf70766.571908"]]},{"id":"dcf70766.571908","type":"split","z":"f02b5598.342e68","name":"","splt":"\\n","x":190,"y":1040,"wires":[["23edcd55.70b2b2"]]},{"id":"3196b745.998bd8","type":"join","z":"f02b5598.342e68","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":530,"y":1040,"wires":[["b8316eaa.e91ef"]]},{"id":"b8316eaa.e91ef","type":"debug","z":"f02b5598.342e68","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":1040,"wires":[]},{"id":"23edcd55.70b2b2","type":"change","z":"f02b5598.342e68","name":"Prepend line number","rules":[{"t":"set","p":"payload","pt":"msg","to":"(parts.index+1) & \": \" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1040,"wires":[["3196b745.998bd8","995474b3.006a58"]]},{"id":"995474b3.006a58","type":"debug","z":"f02b5598.342e68","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":1120,"wires":[]},{"id":"8e7ceb39.2bca48","type":"comment","z":"f02b5598.342e68","name":"Working With Data Formats","info":"","x":380,"y":80,"wires":[]},{"id":"6af972ae.ee1cfc","type":"comment","z":"f02b5598.342e68","name":"**# PLEASE SUBSCRIBE MY YOUTUBE CHANNEL**","info":"","x":380,"y":20,"wires":[]}]