Flow Control Nodered.json
[{"id":"d217000f.892be","type":"tab","label":"Basics - Flow control","disabled":false,"info":""},{"id":"62d8e0df.27396","type":"inject","z":"d217000f.892be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":140,"y":80,"wires":[["df783dd3.402c9"]]},{"id":"df783dd3.402c9","type":"debug","z":"d217000f.892be","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":380,"y":80,"wires":[]},{"id":"7051a59c.71fb3c","type":"inject","z":"d217000f.892be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["1835bf6f.20ab91"]]},{"id":"1835bf6f.20ab91","type":"debug","z":"d217000f.892be","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","statusVal":"payload","statusType":"auto","x":410,"y":180,"wires":[]},{"id":"a99cff84.48058","type":"inject","z":"d217000f.892be","name":"","props":[{"p":"payload","v":"It is 4pm on a weekday!","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"00 16 * * 1,2,3,4,5","once":false,"topic":"","payload":"It is 4pm on a weekday!","payloadType":"str","x":190,"y":280,"wires":[["d24a62c7.f4ab4"]]},{"id":"d24a62c7.f4ab4","type":"debug","z":"d217000f.892be","name":"","active":true,"console":"false","complete":"false","x":410,"y":280,"wires":[]},{"id":"af8aa1a9.0877c","type":"comment","z":"d217000f.892be","name":"Trigger a flow whenever Node-RED starts","info":"","x":180,"y":40,"wires":[]},{"id":"dabf3b4f.24ce98","type":"comment","z":"d217000f.892be","name":"Trigger a flow at regular intervals","info":"","x":150,"y":140,"wires":[]},{"id":"4f629275.5f01dc","type":"comment","z":"d217000f.892be","name":"Trigger a flow at a specific time","info":"","x":150,"y":240,"wires":[]},{"id":"d47b3483.793348","type":"comment","z":"d217000f.892be","name":"Route a message based on one of its properties","info":"","x":200,"y":340,"wires":[]},{"id":"a3a812ff.dbbe9","type":"comment","z":"d217000f.892be","name":"Perform an operation on each element in an array","info":"","x":200,"y":880,"wires":[]},{"id":"747259bf.f958f8","type":"comment","z":"d217000f.892be","name":"Trigger a flow if a message isn’t received after a defined time","info":"","x":240,"y":1100,"wires":[]},{"id":"6840517f.cca34","type":"comment","z":"d217000f.892be","name":"Drop messages that have not changed value","info":"","x":190,"y":1460,"wires":[]},{"id":"7200c650.b07218","type":"comment","z":"d217000f.892be","name":"Send placeholder messages when a stream stops sending","info":"","x":230,"y":1620,"wires":[]},{"id":"8d9d8071.90e19","type":"switch","z":"d217000f.892be","name":"Route ","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"pressure","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":420,"wires":[["3d20b64b.650fba"],["43e54b2b.b8d0c4"],["146eecd6.41ee93"]]},{"id":"f3ca6f5a.0976a","type":"inject","z":"d217000f.892be","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"27","payloadType":"num","x":140,"y":380,"wires":[["8d9d8071.90e19"]]},{"id":"ebbbcd2b.ec7e5","type":"inject","z":"d217000f.892be","name":"","props":[{"p":"payload","v":"45","vt":"num"},{"p":"topic","v":"humidity","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"humidity","payload":"45","payloadType":"num","x":130,"y":420,"wires":[["8d9d8071.90e19"]]},{"id":"3d20b64b.650fba","type":"debug","z":"d217000f.892be","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":380,"wires":[]},{"id":"43e54b2b.b8d0c4","type":"debug","z":"d217000f.892be","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":420,"wires":[]},{"id":"146eecd6.41ee93","type":"debug","z":"d217000f.892be","name":"Pressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":460,"wires":[]},{"id":"8ca7abb6.cba768","type":"inject","z":"d217000f.892be","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pressure","payload":"1001","payloadType":"num","x":130,"y":460,"wires":[["8d9d8071.90e19"]]},{"id":"b0c9941d.2c2c88","type":"inject","z":"d217000f.892be","name":"Set state 0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":120,"y":680,"wires":[["b6730475.ae3d78"]]},{"id":"b6730475.ae3d78","type":"change","z":"d217000f.892be","name":"Set flow.state","rules":[{"t":"set","p":"state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":720,"wires":[["a8efca54.2de8c8"]]},{"id":"a381ad0f.65675","type":"inject","z":"d217000f.892be","name":"Set state 1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":120,"y":720,"wires":[["b6730475.ae3d78"]]},{"id":"326d3bdb.2599c4","type":"inject","z":"d217000f.892be","name":"Set state 2","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":120,"y":760,"wires":[["b6730475.ae3d78"]]},{"id":"4e5c45c0.12dadc","type":"inject","z":"d217000f.892be","name":"Set state 3","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":120,"y":800,"wires":[["b6730475.ae3d78"]]},{"id":"dbe84b4f.d62df8","type":"inject","z":"d217000f.892be","name":"Array of decimals","props":[{"p":"payload","v":"[1.67,2.98,3.12,4.99,5.50]","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1.67,2.98,3.12,4.99,5.50]","payloadType":"json","x":120,"y":920,"wires":[["f6919ac6.552c18"]]},{"id":"f6919ac6.552c18","type":"split","z":"d217000f.892be","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":200,"y":980,"wires":[["ef752384.2a53f"]]},{"id":"ef752384.2a53f","type":"range","z":"d217000f.892be","minin":"0","maxin":"10","minout":"0","maxout":"10","action":"scale","round":true,"property":"payload","name":"Round value","x":350,"y":980,"wires":[["b5834959.1a7658"]]},{"id":"b5834959.1a7658","type":"join","z":"d217000f.892be","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":490,"y":980,"wires":[["774a145c.015d8c"]]},{"id":"774a145c.015d8c","type":"debug","z":"d217000f.892be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1040,"wires":[]},{"id":"64044f4e.36e21","type":"trigger","z":"d217000f.892be","name":"Watchdog","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":270,"y":1180,"wires":[["eeb5f697.6fde28"]]},{"id":"d9f45195.9a122","type":"inject","z":"d217000f.892be","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1140,"wires":[["64044f4e.36e21","7ceebf82.c1106"]]},{"id":"7ceebf82.c1106","type":"debug","z":"d217000f.892be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":1140,"wires":[]},{"id":"eeb5f697.6fde28","type":"debug","z":"d217000f.892be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1180,"wires":[]},{"id":"50354b85.8c61b4","type":"comment","z":"d217000f.892be","name":"Limit the rate of messages passing through a flow","info":"","x":210,"y":1240,"wires":[]},{"id":"100c5b5e.0965d5","type":"delay","z":"d217000f.892be","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1280,"wires":[["314649a3.98f116"]]},{"id":"f02f7960.3c63c8","type":"inject","z":"d217000f.892be","name":"Inject Array","props":[{"p":"payload","v":"[0,1,2,3,4,5,6,7,8,9]","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,2,3,4,5,6,7,8,9]","payloadType":"json","x":110,"y":1280,"wires":[["2c3c95db.7f4eaa"]]},{"id":"314649a3.98f116","type":"debug","z":"d217000f.892be","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":1280,"wires":[]},{"id":"2c3c95db.7f4eaa","type":"split","z":"d217000f.892be","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":250,"y":1280,"wires":[["100c5b5e.0965d5"]]},{"id":"ee58ade6.56a5a","type":"comment","z":"d217000f.892be","name":"Handle messages at a regular rate","info":"","x":160,"y":1340,"wires":[]},{"id":"6869bb54.b35b04","type":"delay","z":"d217000f.892be","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":1380,"wires":[["55982adf.ada644"]]},{"id":"527013a9.301c1c","type":"inject","z":"d217000f.892be","name":"Inject Array","props":[{"p":"payload","v":"[0,1,2,3,4,5,6,7,8,9]","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,2,3,4,5,6,7,8,9]","payloadType":"json","x":110,"y":1380,"wires":[["6869bb54.b35b04"]]},{"id":"55982adf.ada644","type":"debug","z":"d217000f.892be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1380,"wires":[]},{"id":"afe3c350.680fc","type":"rbe","z":"d217000f.892be","name":"report-by-exception","func":"deadband","gap":"","start":"","inout":"out","property":"payload","x":300,"y":1520,"wires":[["cb38cfb0.82799"]]},{"id":"d9bf2c47.afb28","type":"inject","z":"d217000f.892be","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":90,"y":1500,"wires":[["afe3c350.680fc"]]},{"id":"caa1337a.312db","type":"inject","z":"d217000f.892be","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":1540,"wires":[["afe3c350.680fc"]]},{"id":"cb38cfb0.82799","type":"debug","z":"d217000f.892be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":1520,"wires":[]},{"id":"6c0ae9f0.4004f8","type":"inject","z":"d217000f.892be","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1660,"wires":[["d7a35d30.b1196","fab11482.374a58"]]},{"id":"d7a35d30.b1196","type":"debug","z":"d217000f.892be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1660,"wires":[]},{"id":"fab11482.374a58","type":"trigger","z":"d217000f.892be","name":"","op1":"reset","op2":"true","op1type":"str","op2type":"bool","duration":"2","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":260,"y":1700,"wires":[["af611f05.371ee"]]},{"id":"af611f05.371ee","type":"trigger","z":"d217000f.892be","name":"","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-2","extend":false,"units":"s","reset":"reset","bytopic":"all","outputs":1,"x":420,"y":1700,"wires":[["d7a35d30.b1196"]]},{"id":"a8efca54.2de8c8","type":"debug","z":"d217000f.892be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":740,"wires":[]},{"id":"58c5314e.02f3d","type":"debug","z":"d217000f.892be","name":"Output 3","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":560,"y":660,"wires":[]},{"id":"86cfb27.e1b3d5","type":"comment","z":"d217000f.892be","name":"Route a message based on a context property","info":"","x":190,"y":520,"wires":[]},{"id":"82af3e35.49bae","type":"switch","z":"d217000f.892be","name":"Context based routing","property":"state","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":600,"wires":[["3c088e64.c430f2"],["481b969d.f9ef68"],["58c5314e.02f3d"]]},{"id":"3c088e64.c430f2","type":"debug","z":"d217000f.892be","name":"Output 1","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":560,"y":540,"wires":[]},{"id":"481b969d.f9ef68","type":"debug","z":"d217000f.892be","name":"Output 2","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":560,"y":600,"wires":[]},{"id":"7cc0fad8.bfe9e4","type":"inject","z":"d217000f.892be","name":"Inject","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":600,"wires":[["82af3e35.49bae"]]}]