Generate PDF.json
[{"id":"1d913918.df3547","type":"pdfmake","z":"fdbe51f4.3b6a9","name":"pdf generater","outputType":"Buffer","inputProperty":"payload","options":"{}","outputProperty":"payload","x":370,"y":300,"wires":[["cdfd5666.91d048"]]},{"id":"e343f6f6.b5eae8","type":"inject","z":"fdbe51f4.3b6a9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"content\": [     \"welcome to node red tutorial\",     \"Like share and subscribe\"   ] }","payloadType":"json","x":290,"y":180,"wires":[["1d913918.df3547"]]},{"id":"cdfd5666.91d048","type":"file","z":"fdbe51f4.3b6a9","name":"","filename":"G:\\New folder\\data\\test.pdf","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":540,"y":180,"wires":[["eb436587.f8cac8"]]},{"id":"fa4653a9.f7825","type":"comment","z":"fdbe51f4.3b6a9","name":"Simple Example PDF","info":"This is the simplest PDF test as seen in the pdfmake examples [here](http://pdfmake.org/playground.html)","x":500,"y":120,"wires":[]},{"id":"eb436587.f8cac8","type":"debug","z":"fdbe51f4.3b6a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":300,"wires":[]}]