JSON TO HTML TABLE.json
[{"id":"fe3d2089.f48cc","type":"tab","label":"JSON TO HTML TABLE","disabled":false,"info":""},{"id":"dfa45a51.968cd8","type":"comment","z":"fe3d2089.f48cc","name":"DEMO ON GENERATING HTML PAGE FROM JSON DATA","info":"","x":600,"y":140,"wires":[]},{"id":"be51af31.ce421","type":"http in","z":"fe3d2089.f48cc","name":"HTML  TABLE","url":"/html","method":"get","upload":false,"swaggerDoc":"","x":300,"y":260,"wires":[["6515d43f.b9ad9c"]]},{"id":"6515d43f.b9ad9c","type":"function","z":"fe3d2089.f48cc","name":"JSON DATA","func":"msg.payload =  {    \n                \"Message 1\": \"welcome to node red tutorial\",   \n                \"Message 2\": \"Like share and subscribe\"  \n               };\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":320,"wires":[["c0a0d7ca.e3da48"]]},{"id":"c0a0d7ca.e3da48","type":"tableify","z":"fe3d2089.f48cc","name":"HTML Table","before":"NODE RED TUTORIAL ","after":"THANKS FOR 1000 + SUBSCRIBER AND PLEASE DO SUBSCRIBE AND SHARE THIS VIDEO IF YOU HAVE NOT ","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":650,"y":380,"wires":[["8ae77b95.015be8"]]},{"id":"8ae77b95.015be8","type":"http response","z":"fe3d2089.f48cc","name":"","statusCode":"","headers":{},"x":870,"y":440,"wires":[]}]