MQTT.json
[{"id":"73b9c60b.4971e8","type":"mosca in","z":"307898da.7144d8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":330,"y":120,"wires":[["2b9f2dbb.523852"]]},{"id":"25eaf8a3.69b898","type":"mqtt in","z":"307898da.7144d8","name":"","topic":"input/input1","qos":"0","datatype":"auto","broker":"c44285d7.dcca28","x":310,"y":200,"wires":[["25a527a3.1df468"]]},{"id":"c6c9c2a.311384","type":"mqtt in","z":"307898da.7144d8","name":"","topic":"input/#","qos":"0","datatype":"auto","broker":"c44285d7.dcca28","x":290,"y":260,"wires":[["df1bbca3.b3fb5"]]},{"id":"53ece0f5.81349","type":"mqtt out","z":"307898da.7144d8","name":"","topic":"input/input1","qos":"0","retain":"","broker":"c44285d7.dcca28","x":520,"y":360,"wires":[]},{"id":"a54d5df5.f4d09","type":"mqtt out","z":"307898da.7144d8","name":"","topic":"input/input2","qos":"0","retain":"","broker":"c44285d7.dcca28","x":530,"y":420,"wires":[]},{"id":"2b9f2dbb.523852","type":"debug","z":"307898da.7144d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":120,"wires":[]},{"id":"df1bbca3.b3fb5","type":"debug","z":"307898da.7144d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":260,"wires":[]},{"id":"25a527a3.1df468","type":"debug","z":"307898da.7144d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":180,"wires":[]},{"id":"f2e95010.bc833","type":"inject","z":"307898da.7144d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Welcome","payloadType":"str","x":290,"y":380,"wires":[["53ece0f5.81349"]]},{"id":"8dc1c6b5.8df368","type":"inject","z":"307898da.7144d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"NodeRed Tutorial","payloadType":"str","x":310,"y":440,"wires":[["a54d5df5.f4d09"]]},{"id":"c44285d7.dcca28","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]