Nodered-Javascript-function.json
[{"id":"18c31217.29108e","type":"inject","z":"bc18e8c8.950068","name":"sample array","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[ 10,15,11,17,14,21,16]","payloadType":"str","x":250,"y":140,"wires":[["dfa482f7.1eb"]]},{"id":"dfa482f7.1eb","type":"function","z":"bc18e8c8.950068","name":"Javascript Function","func":" var arr = msg.payload; \n\n var arr1 = arr.slice(1, -1)\n console.log(arr1);\n var arr2 = arr1.split(',');\n console.log(arr2); \n \n \nfunction sorting(arr){\n  var done = false;\n  while(!done){\n    done = true;\n    for(var i=0; i<arr.length; i++){\n      if(arr[i] > arr [i+1]){\n        done = false;\n        var temp = arr[i];\n        arr[i] = arr[i+1];\n        arr[i+1]= temp\n      }\n    }\n  }\n  return arr;\n}\n\n msg.payload =  sorting(arr2);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":391,"y":200,"wires":[["d6346a2a.92bf78"]]},{"id":"d6346a2a.92bf78","type":"debug","z":"bc18e8c8.950068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":140,"wires":[]}]