Notification.json
[{"id":"9ec36205.1b3f7","type":"tab","label":"Notifiction","disabled":false,"info":""},{"id":"bf801457.e8d248","type":"ui_toast","z":"9ec36205.1b3f7","position":"dialog","displayTime":"10","highlight":"red","sendall":true,"outputs":1,"ok":"LIKE","cancel":"https://www.youtube.com/user/TheSandy145","raw":true,"topic":"","name":"","x":430,"y":260,"wires":[["83a285f5.e8bbd8"]]},{"id":"d545c95a.d92188","type":"inject","z":"9ec36205.1b3f7","name":"Sending Input from Inject Node","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SUBSCRIBE","payload":"WELCOME TO NODERED TUTORIALS","payloadType":"str","x":150,"y":160,"wires":[["7b77e4dd.46fefc"]]},{"id":"83ef689f.f25c98","type":"comment","z":"9ec36205.1b3f7","name":"Displaying Notification In DashBoard","info":"","x":460,"y":160,"wires":[]},{"id":"83a285f5.e8bbd8","type":"debug","z":"9ec36205.1b3f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":220,"wires":[]},{"id":"7b77e4dd.46fefc","type":"function","z":"9ec36205.1b3f7","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":220,"wires":[["bf801457.e8d248"]]}]