READING PDF FILE.json
[{"id":"e6309ba0.c51698","type":"tab","label":"Reading  PDF FILE","disabled":false,"info":""},{"id":"8087227f.49049","type":"comment","z":"e6309ba0.c51698","name":"DEMO OF Reading The PDF FILE","info":"","x":420,"y":100,"wires":[]},{"id":"b599cd50.07f92","type":"inject","z":"e6309ba0.c51698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":180,"wires":[["478d8dad.501004"]]},{"id":"478d8dad.501004","type":"file in","z":"e6309ba0.c51698","name":"PDF FILE READ","filename":"G:\\New folder\\test.pdf","format":"stream","chunk":false,"sendError":false,"encoding":"none","x":330,"y":260,"wires":[["5b15120b.fe5d3c"]]},{"id":"5b15120b.fe5d3c","type":"pdf-hummus","z":"e6309ba0.c51698","name":"","filename":"","split":true,"mode":{"value":"asBuffer"},"x":490,"y":340,"wires":[["fdc7458d.d41658"]]},{"id":"fdc7458d.d41658","type":"debug","z":"e6309ba0.c51698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":400,"wires":[]}]