Serial Connection.json
[{"id":"18766688.57ba99","type":"tab","label":"Serial Connection","disabled":false,"info":""},{"id":"8aad04d7.3f9e48","type":"comment","z":"18766688.57ba99","name":"Buffer RS232 Example","info":"Example - buffer rs232\nhttps://nodejs.org/api/buffer.html\n\nInject node (buffer editor)\n[1,2,3,10,11,12]\n\nFunction node (encoding : hex,utf8,base64,utf16le,ucs2)\nmsg.payload = new Buffer(\"01020a0b\", \"hex\");\nmsg.payload = new Buffer([0x01,0x02,0x03]);\nmsg.payload = Buffer.from([0x01,0x02,0x03,0x0d,0x0a]);\n\nBuffer slice\nvar buffer = new Buffer([0x01,0x02,0x03,0x0d,0x0a]);\nmsg.payload = buffer.slice(2,4);\n\nBuffer copy\nvar buf1 = new Buffer([0x0a,0x0b,0x0c,0x0d,0x0f]);\nvar buf2 = new Buffer(\"010203040506070809\",\"hex\");\nbuf1.copy(buf2,3,1,4);\nmsg.payload = buf2;\n\nBuffer concat\nvar buf1 = new Buffer(\"010203\",\"hex\");\nvar buf2 = new Buffer([0x04,0x05,0x06]);\nmsg.payload = Buffer.concat([buf1,buf2]).toString();\n\nPayload Output\nmsg.payload = new Buffer(\"010203\",\"hex\");\nmsg.payload = new Buffer(\"040506\",\"hex\");\nvar buf1 = new Buffer(\"0a0b0c\",\"hex\");\nvar buf2 = msg.payload;\nmsg.payload = Buffer.concat([buf1,buf2]).toString();\n","x":140,"y":80,"wires":[]},{"id":"e3388d7c.d9101","type":"serial in","z":"18766688.57ba99","name":"","serial":"3603d2c4.f03c5e","x":334.5,"y":82,"wires":[["e2ff7b16.f28d18"]]},{"id":"e2ff7b16.f28d18","type":"debug","z":"18766688.57ba99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":481.5,"y":82,"wires":[]},{"id":"c2611787.8b6148","type":"inject","z":"18766688.57ba99","name":"[1,2,3,10,11,12]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,10,11,12]","payloadType":"bin","x":189.5,"y":144,"wires":[["5453c2ea.47283c"]]},{"id":"5453c2ea.47283c","type":"serial out","z":"18766688.57ba99","name":"","serial":"d7cb836a.f888b","x":469.5,"y":144,"wires":[]},{"id":"40a0a1ad.e3def","type":"serial out","z":"18766688.57ba99","name":"","serial":"d7cb836a.f888b","x":479,"y":212,"wires":[]},{"id":"d8c17798.8b7be8","type":"function","z":"18766688.57ba99","name":"hex","func":"msg.payload = Buffer.from(\"01020a0b\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":212,"wires":[["40a0a1ad.e3def"]]},{"id":"32eed955.eb97e6","type":"inject","z":"18766688.57ba99","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":171,"y":212,"wires":[["d8c17798.8b7be8"]]},{"id":"2f8c57da.8a6228","type":"serial out","z":"18766688.57ba99","name":"","serial":"d7cb836a.f888b","x":478.5,"y":272,"wires":[]},{"id":"4da36bf8.0e85e4","type":"function","z":"18766688.57ba99","name":"0x01","func":"msg.payload = Buffer.from([0x01,0x02,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":324.5,"y":272,"wires":[["2f8c57da.8a6228"]]},{"id":"fe37c938.335058","type":"inject","z":"18766688.57ba99","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170.5,"y":272,"wires":[["4da36bf8.0e85e4"]]},{"id":"b0751c08.13595","type":"serial out","z":"18766688.57ba99","name":"","serial":"d7cb836a.f888b","x":478.5,"y":332,"wires":[]},{"id":"5204fe39.3a131","type":"function","z":"18766688.57ba99","name":"crlf","func":"msg.payload = new Buffer([0x01,0x02,0x03,0x0d,0x0a]);\n\nreturn msg;","outputs":1,"noerr":0,"x":324.5,"y":332,"wires":[["b0751c08.13595"]]},{"id":"7334e323.17ab7c","type":"inject","z":"18766688.57ba99","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170.5,"y":332,"wires":[["5204fe39.3a131"]]},{"id":"18140a73.2ffbc6","type":"serial out","z":"18766688.57ba99","name":"","serial":"d7cb836a.f888b","x":477.5,"y":385,"wires":[]},{"id":"94e51bff.f6a958","type":"function","z":"18766688.57ba99","name":"slice","func":"var buffer = new Buffer([0x01,0x02,0x03,0x0d,0x0a]);\nmsg.payload = buffer.slice(2,4);\n\nreturn msg;","outputs":1,"noerr":0,"x":323.5,"y":385,"wires":[["18140a73.2ffbc6"]]},{"id":"bbd7006e.90d87","type":"inject","z":"18766688.57ba99","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":169.5,"y":385,"wires":[["94e51bff.f6a958"]]},{"id":"bfcd3522.3ea4c8","type":"serial out","z":"18766688.57ba99","name":"","serial":"d7cb836a.f888b","x":480.5,"y":438,"wires":[]},{"id":"1707a427.241eec","type":"function","z":"18766688.57ba99","name":"copy","func":"var buf1 = new Buffer([0x0a,0x0b,0x0c,0x0d,0x0f]);\nvar buf2 = new Buffer(\"010203040506070809\",\"hex\");\nbuf1.copy(buf2,3,1,4);\nmsg.payload = buf2;\n\nreturn msg;","outputs":1,"noerr":0,"x":326.5,"y":438,"wires":[["bfcd3522.3ea4c8"]]},{"id":"938e4276.f57fe","type":"inject","z":"18766688.57ba99","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":172.5,"y":438,"wires":[["1707a427.241eec"]]},{"id":"8693f404.ae0c68","type":"serial out","z":"18766688.57ba99","name":"","serial":"d7cb836a.f888b","x":479.5,"y":490,"wires":[]},{"id":"11f6e20a.c4c6be","type":"function","z":"18766688.57ba99","name":"concat","func":"var buf1 = new Buffer(\"010203\",\"hex\");\nvar buf2 = new Buffer([0x04,0x05,0x06]);\nmsg.payload = Buffer.concat([buf1,buf2]).toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":325.5,"y":490,"wires":[["8693f404.ae0c68"]]},{"id":"7c1ce1d7.775bf","type":"inject","z":"18766688.57ba99","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":171.5,"y":490,"wires":[["11f6e20a.c4c6be"]]},{"id":"11fc06f9.1a6b89","type":"serial out","z":"18766688.57ba99","name":"","serial":"d7cb836a.f888b","x":628.5,"y":552,"wires":[]},{"id":"66732817.c18068","type":"function","z":"18766688.57ba99","name":"abc","func":"var buf1 = new Buffer(\"0a0b0c\",\"hex\");\nvar buf2 = msg.payload;\nmsg.payload = Buffer.concat([buf1,buf2]).toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":479.5,"y":552,"wires":[["11fc06f9.1a6b89"]]},{"id":"4db6f675.260f88","type":"inject","z":"18766688.57ba99","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170.5,"y":556,"wires":[["9a246b64.291d78"]]},{"id":"9a246b64.291d78","type":"function","z":"18766688.57ba99","name":"123","func":"msg.payload = new Buffer(\"010203\",\"hex\");\nreturn msg;","outputs":1,"noerr":0,"x":330.5,"y":555,"wires":[["66732817.c18068"]]},{"id":"cfeb0631.23f688","type":"inject","z":"18766688.57ba99","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170.5,"y":608,"wires":[["497d6a3.ac8a694"]]},{"id":"497d6a3.ac8a694","type":"function","z":"18766688.57ba99","name":"456","func":"msg.payload = new Buffer(\"040506\",\"hex\");\nreturn msg;","outputs":1,"noerr":0,"x":328.5,"y":607,"wires":[["66732817.c18068"]]},{"id":"3603d2c4.f03c5e","type":"serial-port","z":"","serialport":"COM15","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","newline":"3","bin":"bin","out":"time","addchar":false},{"id":"d7cb836a.f888b","type":"serial-port","z":"","serialport":"COM13","serialbaud":"38400","databits":"8","parity":"none","stopbits":"2","newline":"3","bin":"bin","out":"time","addchar":false}]