Storing Excel Data To MongoDB.json
[{"id":"7759d251.a660dc","type":"tab","label":"Excel To MongoDB","disabled":false,"info":""},{"id":"a860cd94.2c94c","type":"inject","z":"7759d251.a660dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":120,"wires":[["826d6c8e.fe08e"]]},{"id":"826d6c8e.fe08e","type":"alafile in","z":"7759d251.a660dc","name":"My Profile","filename":"G:\\New folder\\myprofile","format":"xlsx","columns":"*","headers":true,"x":430,"y":240,"wires":[["43d54cc6.0a00c4","b49e32f6.2ca09"]]},{"id":"43d54cc6.0a00c4","type":"debug","z":"7759d251.a660dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":340,"wires":[]},{"id":"b49e32f6.2ca09","type":"mongodb2 in","z":"7759d251.a660dc","service":"_ext_","configNode":"5c97dbe3.5ec884","name":"Insert  data to DB","collection":"admin","operation":"insert","x":710,"y":240,"wires":[["d1deacd0.6d18e"]]},{"id":"d1deacd0.6d18e","type":"debug","z":"7759d251.a660dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":140,"wires":[]},{"id":"5c97dbe3.5ec884","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"}]