String To Html.json
[{"id":"d07b7040.c20b8","type":"comment","z":"650a4bd3.ee6b04","name":" Demo of String Input converting it into an html string.","info":"","x":540,"y":140,"wires":[]},{"id":"bb71e692.483d38","type":"http in","z":"650a4bd3.ee6b04","name":"input string","url":"/string","method":"get","upload":false,"swaggerDoc":"","x":290,"y":260,"wires":[["cc784aa.1884fb8"]]},{"id":"cc784aa.1884fb8","type":"function","z":"650a4bd3.ee6b04","name":"","func":"msg.string ='__WELCOME TO NODE RED TUTORIALS:)__\\n'+\n'- __[NodeRed Channel](https://www.youtube.com/user/TheSandy145)__ - Node Red Youtube Channel\\n\\n'+ \n'- __[NodeRed-GitHub](https://github.com/joshi-sandeep/Nodered)__ - Biggner developers friendly\\n'+\n  'Like Share And Subscribe The Channel.'\n \nconsole.log(msg);\nmsg.payload = msg.string\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":340,"wires":[["17cd38d5.d93097"]]},{"id":"17cd38d5.d93097","type":"markdown","z":"650a4bd3.ee6b04","name":"convert  string to html","x":610,"y":340,"wires":[["723662a8.d160ec","33b0b55b.08f70a"]]},{"id":"723662a8.d160ec","type":"http response","z":"650a4bd3.ee6b04","name":"output","statusCode":"","headers":{},"x":800,"y":260,"wires":[]},{"id":"33b0b55b.08f70a","type":"debug","z":"650a4bd3.ee6b04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":440,"wires":[]}]