SVG File.json
[{"id":"b2cb2ea7.ca8ee","type":"tab","label":"SVG ","disabled":false,"info":""},{"id":"7241779a.c03258","type":"inject","z":"b2cb2ea7.ca8ee","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":140,"wires":[["5bd437e4.ede1a8"]]},{"id":"5bd437e4.ede1a8","type":"ui_svg_graphics","z":"b2cb2ea7.ca8ee","group":"8820ca84.da9028","order":2,"width":0,"height":0,"svgString":"\n<svg width=\"300\" height=\"200\"\n  xmlns=\"http://www.w3.org/2000/svg\"> \n   \n  <image href=\"https://www.automatiserar.se/wp-content/uploads/2017/10/Node-RED.jpg\" height=\"200\" width=\"300\"/>\n \n</svg>\n\n<svg xmlns=\"http://www.w3.org/2000/svg\"\n     xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n   <text x=\"70\" y=\"50\"\n      style=\"fill: #00ff00; stroke: none; font-size: 38px;\">\n   Subscribe\n</text>\n</svg>\n","clickableShapes":[],"smilAnimations":[{"id":"","targetId":"","classValue":"","attributeName":"node red","transformType":"rotate","fromValue":"1","toValue":"100","trigger":"msg","duration":"1","durationUnit":"min","repeatCount":"10","end":"restore","delay":"1","delayUnit":"s","custom":""}],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"","x":360,"y":220,"wires":[["fe789575.e96a88"]]},{"id":"fe789575.e96a88","type":"debug","z":"b2cb2ea7.ca8ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":300,"wires":[]},{"id":"8820ca84.da9028","type":"ui_group","z":"","name":"Group 1","tab":"a570fbe2.4797d8","order":2,"disp":true,"width":"6","collapse":true},{"id":"a570fbe2.4797d8","type":"ui_tab","z":"","name":"SVG","icon":"dashboard","disabled":false,"hidden":false}]