TCP-UDP.json
[{"id":"d1937042.e9b36","type":"comment","z":"ce6f4476.1c6b78","name":"TCP","info":"","x":50,"y":60,"wires":[]},{"id":"74b6c04b.9b5d6","type":"comment","z":"ce6f4476.1c6b78","name":"UDP","info":"","x":60,"y":460,"wires":[]},{"id":"9252b26f.5c4f2","type":"tcp in","z":"ce6f4476.1c6b78","name":"","server":"server","host":"","port":"88","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":240,"y":100,"wires":[["f87f6602.fef468","18ca8816.32c0f8"]]},{"id":"6b56111b.f8cac","type":"inject","z":"ce6f4476.1c6b78","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":60,"wires":[["b115731.65c1a9"]]},{"id":"f87f6602.fef468","type":"tcp out","z":"ce6f4476.1c6b78","host":"","port":"88","beserver":"reply","base64":false,"end":false,"name":"","x":440,"y":100,"wires":[]},{"id":"b115731.65c1a9","type":"tcp request","z":"ce6f4476.1c6b78","server":"localhost","port":"88","out":"time","splitc":"0","name":"","x":450,"y":60,"wires":[["197e13d5.07388c"]]},{"id":"197e13d5.07388c","type":"debug","z":"ce6f4476.1c6b78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":60,"wires":[]},{"id":"18ca8816.32c0f8","type":"debug","z":"ce6f4476.1c6b78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":140,"wires":[]},{"id":"e53ad3c9.3756d","type":"inject","z":"ce6f4476.1c6b78","name":"","props":[{"p":"payload","v":"abc","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"abc","payloadType":"str","x":83,"y":220,"wires":[["64f57532.a5aadc"]]},{"id":"64f57532.a5aadc","type":"tcp request","z":"ce6f4476.1c6b78","server":"localhost","port":"89","out":"time","splitc":"0","name":"","x":293,"y":220,"wires":[[]]},{"id":"168a112f.75643f","type":"tcp in","z":"ce6f4476.1c6b78","name":"","server":"server","host":"","port":"89","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":83,"y":340,"wires":[["a05371a4.b8059"]]},{"id":"a05371a4.b8059","type":"debug","z":"ce6f4476.1c6b78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":283,"y":340,"wires":[]},{"id":"54233dc6.9fe8d4","type":"inject","z":"ce6f4476.1c6b78","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"abcd","payloadType":"str","x":83,"y":280,"wires":[["dd3ae852.b88148"]]},{"id":"dd3ae852.b88148","type":"tcp request","z":"ce6f4476.1c6b78","server":"localhost","port":"89","out":"time","splitc":"0","name":"","x":293,"y":280,"wires":[[]]},{"id":"c72df0b.ca2961","type":"inject","z":"ce6f4476.1c6b78","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"abc","payloadType":"str","x":510,"y":220,"wires":[["2c5dabfa.ff8a54"]]},{"id":"2c5dabfa.ff8a54","type":"tcp request","z":"ce6f4476.1c6b78","server":"localhost","port":"90","out":"time","splitc":"0","name":"","x":720,"y":220,"wires":[[]]},{"id":"731990a6.facf","type":"tcp in","z":"ce6f4476.1c6b78","name":"","server":"server","host":"","port":"90","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":510,"y":340,"wires":[["52925e1c.5a039"]]},{"id":"52925e1c.5a039","type":"debug","z":"ce6f4476.1c6b78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":340,"wires":[]},{"id":"3ea6703f.1cb63","type":"inject","z":"ce6f4476.1c6b78","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"abcd","payloadType":"str","x":510,"y":280,"wires":[["284abe89.d502b2"]]},{"id":"284abe89.d502b2","type":"tcp request","z":"ce6f4476.1c6b78","server":"localhost","port":"90","out":"time","splitc":"0","name":"","x":670,"y":280,"wires":[[]]},{"id":"34fc2844.ecdee8","type":"inject","z":"ce6f4476.1c6b78","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":460,"wires":[["59e08eed.79223"]]},{"id":"1b753010.6bdbf","type":"udp in","z":"ce6f4476.1c6b78","name":"","iface":"","port":"93","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":240,"y":520,"wires":[["77df486b.1dd058"]]},{"id":"59e08eed.79223","type":"udp out","z":"ce6f4476.1c6b78","name":"","addr":"127.0.0.1","iface":"","port":"93","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":460,"y":460,"wires":[]},{"id":"77df486b.1dd058","type":"debug","z":"ce6f4476.1c6b78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":520,"wires":[]}]