Tutorials For Node-Red Beginners Part -2 .json
[{"id":"eca0d768.8a4f18","type":"tab","label":"HTTP requests","disabled":false,"info":""},{"id":"687e5368.50b54c","type":"inject","z":"eca0d768.8a4f18","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":220,"y":80,"wires":[["4e1c2b7a.909ba4"]]},{"id":"4e1c2b7a.909ba4","type":"http request","z":"eca0d768.8a4f18","name":"","method":"GET","ret":"txt","url":"http://localhost:1880/hello","x":390,"y":80,"wires":[["8be1e35b.7b2ee"]]},{"id":"8be1e35b.7b2ee","type":"debug","z":"eca0d768.8a4f18","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"94947aa3.3f0c38","type":"comment","z":"eca0d768.8a4f18","name":"Simple GET request","info":"    curl http://localhost:1880/hello","x":230,"y":40,"wires":[]},{"id":"5cecd887.d5b0e8","type":"debug","z":"eca0d768.8a4f18","name":"","active":true,"console":"false","complete":"false","x":750,"y":180,"wires":[]},{"id":"cee1400d.642ac","type":"http request","z":"eca0d768.8a4f18","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":180,"wires":[["5cecd887.d5b0e8"]]},{"id":"d6149e88.5c89c","type":"inject","z":"eca0d768.8a4f18","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":220,"y":180,"wires":[["85994e22.81273"]]},{"id":"428efab5.b3c1f4","type":"comment","z":"eca0d768.8a4f18","name":"Set the url of a request","info":"","x":240,"y":140,"wires":[]},{"id":"85994e22.81273","type":"change","z":"eca0d768.8a4f18","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://localhost:1880/hello","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":180,"wires":[["cee1400d.642ac"]]},{"id":"f6b1d336.612cb","type":"comment","z":"eca0d768.8a4f18","name":"Get a parsed JSON response","info":"","x":260,"y":438,"wires":[]},{"id":"4eb48b85.4cf324","type":"http request","z":"eca0d768.8a4f18","name":"","method":"GET","ret":"obj","url":"http://localhost:1880/hello-json","x":390,"y":478,"wires":[["e731844.db18378"]]},{"id":"613341b3.0b56e","type":"inject","z":"eca0d768.8a4f18","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":220,"y":478,"wires":[["4eb48b85.4cf324"]]},{"id":"e731844.db18378","type":"debug","z":"eca0d768.8a4f18","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":478,"wires":[]},{"id":"b07f595c.f26cf8","type":"comment","z":"eca0d768.8a4f18","name":"Set a request header","info":"","x":220,"y":560,"wires":[]},{"id":"d8067b3d.ce55c8","type":"http request","z":"eca0d768.8a4f18","name":"","method":"GET","ret":"txt","url":"http://localhost:1880/hello-headers","x":620,"y":600,"wires":[["c462830b.57238"]]},{"id":"99e91be3.8631f8","type":"inject","z":"eca0d768.8a4f18","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":210,"y":600,"wires":[["ba34afcf.c3fef"]]},{"id":"c462830b.57238","type":"debug","z":"eca0d768.8a4f18","name":"","active":true,"console":"false","complete":"false","x":800,"y":600,"wires":[]},{"id":"ba34afcf.c3fef","type":"change","z":"eca0d768.8a4f18","name":"Set user-agent header","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.user-agent","pt":"msg","to":"Node-RED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":600,"wires":[["d8067b3d.ce55c8"]]},{"id":"359e6c98.5b6034","type":"debug","z":"eca0d768.8a4f18","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":380,"wires":[]},{"id":"5d2f0fa5.ade73","type":"http request","z":"eca0d768.8a4f18","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/hello-query?{{{querystring}}}","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":380,"wires":[["359e6c98.5b6034"]]},{"id":"baf65da4.d31f5","type":"inject","z":"eca0d768.8a4f18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"name\":\"sandy\"}","payloadType":"json","x":240,"y":378,"wires":[["15b9b3f1.264e2c"]]},{"id":"57519b61.ba23a4","type":"comment","z":"eca0d768.8a4f18","name":"Set query string parameters","info":"The url template must use {{{triple}}}-braces\nso it doesn't get escaped","x":260,"y":338,"wires":[]},{"id":"15b9b3f1.264e2c","type":"function","z":"eca0d768.8a4f18","name":"Create query string","func":"var params = [];\nfor (var i in msg.payload) {\n    params.push(encodeURIComponent(i)+\"=\"+encodeURIComponent(msg.payload[i]));\n}\nmsg.querystring = params.join(\"&\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":378,"wires":[["5d2f0fa5.ade73"]]},{"id":"2dbefedf.802f72","type":"comment","z":"eca0d768.8a4f18","name":"* Respond with the result of an HTTP request","info":"    curl http://localhost:1880/hello-proxy","x":300,"y":660,"wires":[]},{"id":"eabcf3a5.8c881","type":"http in","z":"eca0d768.8a4f18","name":"","url":"/hello-proxy","method":"get","swaggerDoc":"","x":210,"y":700,"wires":[["3e07b3be.e4246c"]]},{"id":"aad98017.aa128","type":"http response","z":"eca0d768.8a4f18","name":"","x":760,"y":700,"wires":[]},{"id":"3e07b3be.e4246c","type":"http request","z":"eca0d768.8a4f18","name":"","method":"GET","ret":"txt","url":"http://localhost:1880/hello","x":404,"y":700,"wires":[["4bcf551a.4ea85c"]]},{"id":"4bcf551a.4ea85c","type":"change","z":"eca0d768.8a4f18","name":"Clear headers","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":700,"wires":[["aad98017.aa128"]]},{"id":"c4bb79cb.78bdc8","type":"debug","z":"eca0d768.8a4f18","name":"","active":true,"console":"false","complete":"false","x":550,"y":280,"wires":[]},{"id":"3dee66a1.f7d30a","type":"http request","z":"eca0d768.8a4f18","name":"","method":"GET","ret":"txt","url":"http://localhost:1880/{{payload}}","x":370,"y":280,"wires":[["c4bb79cb.78bdc8"]]},{"id":"82f7c0f7.c24eb","type":"inject","z":"eca0d768.8a4f18","name":"","props":[{"p":"payload","v":"hello","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"hello","payloadType":"str","x":210,"y":280,"wires":[["3dee66a1.f7d30a"]]},{"id":"ca843ceb.7105e","type":"comment","z":"eca0d768.8a4f18","name":"Set the url of a request using a template","info":"","x":290,"y":240,"wires":[]},{"id":"10fd9ba7.688944","type":"comment","z":"eca0d768.8a4f18","name":"Get a binary response","info":"","x":240,"y":760,"wires":[]},{"id":"6a7cf5b4.e9453c","type":"http request","z":"eca0d768.8a4f18","name":"","method":"GET","ret":"bin","url":"http://localhost:1880/hello-file","x":390,"y":800,"wires":[["521d4113.79ac"]]},{"id":"b1043d97.59d97","type":"inject","z":"eca0d768.8a4f18","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":220,"y":800,"wires":[["6a7cf5b4.e9453c"]]},{"id":"521d4113.79ac","type":"debug","z":"eca0d768.8a4f18","name":"","active":true,"console":"false","complete":"false","x":570,"y":800,"wires":[]}]