Websocket.json
[{"id":"c0624c5d.910da","type":"tab","label":"Websocket  normal","disabled":false,"info":""},{"id":"8d86dc08.df5b2","type":"inject","z":"c0624c5d.910da","name":"Tick every 5 secs","repeat":"5","crontab":"","once":false,"topic":"test","payload":"","payloadType":"date","x":150,"y":240,"wires":[["27c3004e.693a6"]]},{"id":"160db588.c1629a","type":"websocket out","z":"c0624c5d.910da","name":"","server":"5860bb75.781274","client":"","x":550,"y":240,"wires":[]},{"id":"840b883f.7d4d58","type":"http response","z":"c0624c5d.910da","name":"","x":521,"y":180,"wires":[]},{"id":"2c82777d.db8548","type":"http in","z":"c0624c5d.910da","name":"","url":"/simple","method":"get","swaggerDoc":"","x":152,"y":180,"wires":[["2d89090a.d3baf6"]]},{"id":"2d89090a.d3baf6","type":"template","z":"c0624c5d.910da","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":349,"y":180,"wires":[["840b883f.7d4d58"]]},{"id":"27c3004e.693a6","type":"function","z":"c0624c5d.910da","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":240,"wires":[["160db588.c1629a"]]},{"id":"e15ea09.b1b6d6","type":"websocket in","z":"c0624c5d.910da","name":"","server":"5860bb75.781274","client":"","x":337,"y":292,"wires":[["eda304f.0ac38f8"]]},{"id":"eda304f.0ac38f8","type":"debug","z":"c0624c5d.910da","name":"","active":true,"console":"false","complete":"false","x":527,"y":292,"wires":[]},{"id":"5860bb75.781274","type":"websocket-listener","z":"c0624c5d.910da","path":"/ws/simple","wholemsg":"false"}]